name: Test-CICD

on:
  push:
    branches:
      - "main"

env:
  CI: false
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
        name: checkout

      - name: Init
        shell: bash
        run: |
          echo ::set-env name=BRANCH::"$(git rev-parse --abbrev-ref HEAD)" && echo $BRANCH
          echo ::set-env name=REPOSITORY_NAME::$(echo "database-versioning")
          echo ::set-env name=DEPLOYMENT::$(echo "database-versioning")
      - name: Find recent changes in changelog and print this console
        shell: bash
        run: |
          echo "::set-output name=TIMESTAMP::$(date +'%Y-%m-%d')"
          echo $TIMESTAMP
          chmod +x ./script.sh
          git diff --name-only HEAD~1 -- HEAD ./changelogs > changelogsToExecute.txt
          for i in $(cat changelogsToExecute.txt); do echo "Executing for $i" && ./script.sh $i update ; done
